.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
   background: var(--color-main) !important;
   
}
.ant-layout-footer {
    padding: 24px 50px;
    color: #fff !important;
    font-size: 14px;
    background: #030347 !important;
}
.ant-layout, .ant-layout * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // color: #fff !important;
}
.ant-layout-header {
    height: 64px;
    padding: 0 50px;
    line-height: 64px;
    color: #fff !important;
    background: #030347 !important;

}
.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
    width: 100%;
    &:hover{
        color: var(--color-secondary) !important;
        background: #030347;
    }
}
.back{
    padding: 24px;
    background: url(../../assets/img/Bk-pr.png) !important;
    min-height: 360px;
}
.conant{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ico{
    padding-right: 5px;
}
.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
    padding: 8px 8px;
    //background: var(--color-main) !important;
    color: #fff;
    // &:hover{
    //     // background: var(--color-secondary) !important;
    //     // color: var(--color-main) !important
    //     opacity: .7;
    // }
}

.ant-result-title {
    font-family: 'Permanent Marker', cursive !important;
    color: var(--color-secondary) !important;
    font-size: 3rem !important;
    line-height: 1.8;
    text-align: center;
}
.ant-result-subtitle {
    font-family: 'Permanent Marker', cursive !important;
    color: var(--color-secondary)  !important;
    font-size: 2rem !important;
    line-height: 1.6;
    text-align: center;
}

.ant-pagination-item a {
    color: white !important;
}

.item-link{
    color: white !important;
}

.ant-pagination-item-active {
    background: darkslategray !important;
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: white;
}